  body {
        font-family: "Roboto", sans-serif;
        margin: 0;
        padding: 0;
      }

      #video-container {
        position: relative;
        margin-top: 500px; /* Adjust top margin for the video container */
      }

      #video-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }

      #moving-image {
        position: absolute;
        margin-top: -320px; /* Adjust top position */
        right: 130px; /* Adjust left position */
        max-width: 800px; /* Set max width if needed */
        max-height: 1300px; /* Set max height if needed */
      }

      .custom-button {
        position: absolute;
        cursor: pointer;
        border-radius: 10px; /* Optional: Add rounded corners */
        display: flex;
        align-items: center;
        font-size: 30px; /* Adjust font size as needed */
        border: none;

        /* Add gradient background */
        background: linear-gradient(
          to right,
          #003366,
          #3232b8
        ); /* Adjust colors as needed */
        color: #ffffff; /* Text color */
        padding: 35px 120px; /* Fixed padding for both buttons */
      }

      #custom-button {
        top: 200px; /* Adjust top position */
        right: 500px; /* Adjust left position */
      }

      #custom-buttonAR {
        top: 200px; /* Adjust top position */
        right: 120px; /* Adjust left position */
      }

      .button-title {
        position: absolute;
        top: 25px; /* Adjust top position for the title */
        right: 300px; /* Adjust left position for the title */
        color: #043676; /* Title text color */
        font-size: 60px; /* Title font size */
        font-weight: bold;
      }

      .button-subtext {
        position: absolute;
        top: 110px; /* Adjust top position for the subtext */
        right: 210px; /* Adjust left position for the subtext */
        color: #043676; /* Subtext color */
        font-size: 25px;
        font-weight: semi bold;
      }
      #custom-buttonAR img {
        margin-right: 10px;
      }
      #custom-button img {
        margin-right: 10px;
      }